!!!
%html(lang="en-US")
  %head
    %title Barber Poll
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    %header
      .roof1
      .roof3
        %h1 Barber Poll
      .roof1
    .flash
    %main
      = yield

    .clear(style="width=1px;clear:both;")
    %footer
      :markdown
        Created by [Jonathan Jackson](https://twitter.com/rondale_sc). View source [here](https://github.com/rondale-sc/barber_poll)
